* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Teko', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.parallax__layer {
  text-align: center;
}

.x4 {
  height: 400vh;
}

#group1 {
  z-index: 2;
}

#group2 {
  z-index: 3;
  transform: translateY(33.333%);
}

#group3 {
  z-index: 1;
}

.bg-image {
  z-index: 1;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transform: translateZ(-300px) scale(2);
}

.palms {
  background-image: url('./palmbg.jpg');
  transform: translateZ(-100px) scale(1.3333);
  border: 1px solid #666;
}

.w11 {
  z-index: 1;
  background-image: url('./w11.jpg');
}

.bank {
  z-index: 1;
  background-image: url('./bank.jpg');
  background-size: 100%;
  transform: translateZ(-6000px) scale(21) translateY(35%)
}

.nav {
  z-index: 2;
  transform: translateZ(-120px) translateY(80px) scale(1.4);
}

.nav ul {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  text-align: right;
  margin: 30px 100px 0 0;
}

.nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 1px 2px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in 0.1s;
}

.nav ul li:hover, .nav ul li:focus {
  outline: 0;
  transform: scale(1.1);
  color: #e0d69b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9), 1px 2px 0 rgba(0, 0, 0, 0.8);
}

.center-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 5px solid #ae9169;
  padding: 40px;
  opacity: 0.93;
  box-shadow: 1px 1px 7px 3px rgba(50,50,50,0.5);
  transform: translateZ(0);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #ae9169;
  padding: 40px;
  text-align: center;
}

.card-content > header {
  font-family: 'Cormorant SC', serif;
  font-size: 40px;
  color: #555;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

.instagram {
  margin-top: 50px;
}

.instagram header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram-tag {
  font-family: 'Satisfy', 'sans-serif';
  color: #333;
  font-size: 30px;
}

#instafeed img {
  max-width: 200px;
  border: 1px solid #333;
}

#instafeed a:not(:first-child):not(:last-child) {
  margin: 0 20px;
}
