* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Teko', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

ul {
  list-style: none;
}

.parallax__layer {
  text-align: center;
}

/* ----- HEIGHTS ----- */
.parallax__group.near {
  height: 133.333vh;
  height: calc(400vh / 3);
}

.parallax__group.mid {
  height: 200vh;
}

.parallax__group.far {
  height: 400vh;
}

.h1 {
  height: 100vh;
}

.h2 {
  height: 200vh;
}

/* ----- POSITIONING ----- */
#group1 {
  z-index: 2;
  top: 0;
}

#group2 {
  z-index: 3;
  top: 133.333vh;
  top: calc(400vh / 3);
}

#group3 {
  z-index: 1;
  top: 266.666vh;
  top: calc(800vh / 3);
}

#group4 {
  z-index: 2;
  top: 666.666vh;
  top: calc(2000vh / 3);
}

#group5 {
  z-index: 3;
  top: 866.666vh;
  top: calc(2600vh / 3);
}

/* ----- BACKGROUND IMAGES ----- */

.bg-image {
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.palms-bg {
  background-image: url('./palmbg.jpg');
}

.palms {
  height: 100vh;
  transform: translateZ(-100px) scale(1.333);
  border: 1px solid #666;
}

.w11 {
  background-image: url('./w11.jpg');
  transform: translateZ(-300px) scale(2);
}

.bank {
  height: 100vh;
  background-image: url('./bank.jpg');
  background-size: 100%;
  transform: translateZ(-6000px) scale(21);
}

/* ----- 3D ----- */
.z3 {
  transform: translateZ(-900px) scale(4);
}

.z2 {
  transform: translateZ(-400px) scale(calc(7 / 3)) translateY(22%);
}

#intro .card {
  transform: translateZ(0) translateY(-17%);
}

#accomodations2 {
  transform: translateZ(-600px) scale(3);
}

#events {
  transform: translateZ(-200px) scale(calc(5 / 3)) translateY(-60%);
}

#events .card {
  transform: translateZ(0) translateY(1000px);
}

.pool {
  background-image: url('./pool_low.jpg');
  background-size: cover;
  background-position-x: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.vizcaya {
  background-image: url('./vizcaya_low.jpg');
  background-size: cover;
  background-position-x: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.frost {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
}

/* ----- Navigation ----- */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav ul {
  background-color: rgba(255, 255, 255, 0.75);
  color: #e0d69b;
  font-family: 'Satisfy', 'sans-serif';
  font-size: 28px;
  text-align: right;
  margin: 0;
  padding: 5px 20px;
  border: 1px solid #ae9169;
  border-top: none;
}

.nav ul li {
  display: inline-block;
  margin: 0 10px;
  color: #7d613b;
}

.nav ul li a:active,
.nav ul li a:visited {
  color: #7d613b;
}

.nav ul li a:hover,
.nav ul li a:focus {
  outline: 0;
}

.center-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 80%;
  background-color: #fff;
  border: 5px solid #ae9169;
  padding: 40px;
  opacity: 0.93;
  box-shadow: 1px 1px 7px 3px rgba(50,50,50,0.5);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #ae9169;
  padding: 40px;
  text-align: center;
  color: #444;
  background-color: #fff;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif
}

.card-content header {
  font-family: 'Cormorant SC', serif;
  color: #555;
  font-size: 40px;
}

.card-content > p {
  max-width: 600px;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
}

/*******************************/
/** Events list                */
/*******************************/

.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -30px;
}

.events-list li {
  flex: 1 1;
  min-width: 400px;
  max-width: 600px;
  font-size: 20px;
  margin-bottom: 40px;
  padding: 0 15px;
}

.events-list .location {
  font-weight: bold;
  margin: 10px 0 15px 0;
}

.events-list p {
  line-height: 1.4;
  text-align: justify;
}

.events-list p + p {
  margin-top: 20px;
}

/*******************************/
/** Instagram                  */
/*******************************/

.instagram {
  margin-top: 50px;
}

.instagram header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram-tag {
  font-family: 'Satisfy', 'sans-serif';
  color: #333;
  font-size: 30px;
}

#instafeed img {
  max-width: 200px;
  border: 1px solid #333;
}

#instafeed a:not(:first-child):not(:last-child) {
  margin: 0 20px;
}
