* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Teko', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.parallax__layer {
  text-align: center;
}

#group1 {
  z-index: 2;
  top: 0;
}

#group2 {
  z-index: 3;
  top: 100vh;
}

#group3 {
  z-index: 1;
  top: 200vh;
}

#group4 {
  z-index: 2;
  top: 600vh;
}

#group5 {
  top: 700vh;
  z-index: 3;
}

.bg-image {
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.palms-bg {
  background-image: url('./palmbg.jpg');
}

.palms {
  transform: translateZ(-100px) scale(1.34) translateY(25%);
  border: 1px solid #666;
}

.w11 {
  background-image: url('./w11.jpg');
  transform: translateZ(-300px) scale(2);
}

.bank {
  background-image: url('./bank.jpg');
  background-size: 100%;
  transform: translateZ(-6000px) scale(21) translateY(3.333%);
}

.z3 {
  transform: translateZ(-900px) scale(4) translateY(17%);
}

.z25 {
  transform: translateZ(-700px) scale(3.333) translateY(6%);
}

.z2 {
  transform: translateZ(-400px) scale(2.333) translateY(87%);
}

#accomodations2 {
  transform: translateZ(-600px) scale(3) translateY(-10%);
}

#events {
  transform: translateZ(-200px) scale(1.667) translateY(90%);
}

.pool {
  background-image: url('./pool_low.jpg');
  background-size: cover;
  background-position-x: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.vizcaya {
  background-image: url('./vizcaya_low.jpg');
  background-size: cover;
  background-position-x: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.glass {
  /*filter: blur(2.5px);*/
}

.frost {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 2555, 255, 0.6);
}

.nav {
  z-index: 2;
  transform: translateZ(-120px) translateY(80px) scale(1.4);
}

.nav ul {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  text-align: right;
  margin: 30px 100px 0 0;
}

.nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 1px 2px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in 0.1s;
}

.nav ul li:hover, .nav ul li:focus {
  outline: 0;
  transform: scale(1.1);
  color: #e0d69b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9), 1px 2px 0 rgba(0, 0, 0, 0.8);
}

.center-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 80%;
  background-color: #fff;
  border: 5px solid #ae9169;
  padding: 40px;
  opacity: 0.93;
  box-shadow: 1px 1px 7px 3px rgba(50,50,50,0.5);
  transform: translateZ(0) translateY(300px);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #ae9169;
  padding: 40px;
  text-align: center;
  color: #444;
  background-color: #fff;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif
}

.card-content header {
  font-family: 'Cormorant SC', serif;
  color: #555;
  font-size: 40px;
}

.card-content > p {
  max-width: 600px;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
}

/*******************************/
/** Events list                */
/*******************************/

.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -30px;
}

.events-list li {
  width: 440px;
  font-size: 20px;
  margin-bottom: 40px;
}

.events-list .location {
  font-weight: bold;
  margin: 10px 0;
}

.events-list p {
  text-align: justify;
}

.events-list p + p {
  margin-top: 20px;
}

/*******************************/
/** Instagram                  */
/*******************************/

.instagram {
  margin-top: 50px;
}

.instagram header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram-tag {
  font-family: 'Satisfy', 'sans-serif';
  color: #333;
  font-size: 30px;
}

#instafeed img {
  max-width: 200px;
  border: 1px solid #333;
}

#instafeed a:not(:first-child):not(:last-child) {
  margin: 0 20px;
}
